@import url('@/settings/global.css');

.Radio {
  @apply flex w-full flex-col items-start justify-start gap-4;

  & > span {
    @apply text-primary text-3xl font-bold tracking-widest;
  }

  .radio-group {
    @apply flex w-full flex-col items-start justify-start gap-4 pl-10;

    .correct {
      @apply bg-primary;
    }

    & > div {
      @apply text-primary flex flex-row items-center justify-start gap-4 text-2xl font-black;

      & > input[type='radio'] {
        -webkit-appearance: none;
        appearance: none;
        @apply border-primary h-8 w-8 cursor-pointer border;

        &::after {
          content: '✓';
          transform: translateX(9%) translateY(-10%);

          @apply invisible inline-block h-full w-full text-3xl text-black;
        }

        &:checked {
          &::after {
            @apply visible;
          }
        }
      }
    }
  }
}
