@import 'tailwindcss';

@theme {
  --color-backgroundColor: #fff;
  --color-textColor: #000;
  --color-primary: #df032e;
  --color-secondary: #f29aab;
  --color-tertiary: #999999;
  --color-tertiary-content: #666666;
  --color-quaternary: #e4e4e4;
  --breakpoint-xs: 30rem;

  --font-default:
    'Noto Sans TC', 'Microsoft JhengHei', 'PingFang TC', 'Helvetica Neue', Arial, sans-serif;
  --font-line-regular: 'line-regular';
  --font-line-bold:
    'line-bold', 'Noto Sans TC', 'Microsoft JhengHei', 'PingFang TC', 'Helvetica Neue', Arial,
    sans-serif;
  --font-line-extraBold:
    'line-extraBold', 'Noto Sans TC', 'Microsoft JhengHei', 'PingFang TC', 'Helvetica Neue', Arial,
    sans-serif;
}
