@import 'tailwindcss';

@theme {
  --color-backgroundColor: #fff;
  --color-textColor: #000;
  --color-primary: #df032e;
  --color-secondary: #f29aab;
  --color-tertiary: #999999;
  --color-tertiary-content: #666666;
  --color-quaternary: #00ff00;
  --breakpoint-xs: 30rem;

  --font-line-regular: 'line-regular';
  --font-line-bold: 'line-bold';
  --font-line-extraBold: 'line-extraBold';
}
