@import 'tailwindcss';

@theme {
  --color-backgroundColor: #fff;
  --color-textColor: #000;
  --color-primary: #df032e;
  --color-secondary: #f29aab;
  --color-tertiary: #ff0066;
  --color-quaternary: #00ff00;
}
