@import url('@/settings/global.css');

button:disabled {
  @apply visible block cursor-default grayscale;
}

.btn {
  &:not(:disabled):active {
    & {
      .btn-large {
        background-position-y: 100%;
        & > div {
          transform: translateX(2%) translateY(8%);
        }
      }

      .btn-rounded {
        @apply bg-gray-300;
      }
    }
  }

  &:not(:disabled):hover {
    & {
      .btn-rounded {
        @apply bg-gray-200;
      }

      .btn-skip {
        background-color: #666;
      }
    }
  }

  .btn-skip {
    @apply bg-tertiary pointer-events-none w-fit rounded-lg px-6 py-2 text-lg tracking-widest text-white;
  }

  .btn-large {
    padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 50%);
    width: 100%;
    background-image: url(@img);
    background-position-x: center;
    background-position-y: 0%;
    background-size: 100%;

    @img: './img/lg.svg';

    @apply flex w-full;
    @apply relative;

    & > div {
      transform: translateX(-3%) translateY(-3%);
      @apply absolute top-0 right-0 bottom-0 left-0 flex items-center justify-center;
    }
  }

  .btn-rounded {
    @apply pointer-events-none relative rounded-l-full rounded-r-full border-4 border-black bg-white;
  }
}
