@import url('@/settings/global.css');

.Description {
  @apply absolute h-full w-full;

  .bg {
    @apply absolute top-0 h-full w-full bg-white;
  }

  & > .ctx {
    @apply relative flex h-full w-full justify-center pt-8;

    .content {
      @apply relative flex h-full w-full max-w-lg flex-col items-center justify-start gap-5;

      .dialog {
        @apply flex h-full w-full flex-col items-start justify-start gap-5 overflow-y-scroll p-5;

        & > div {
          @apply font-line-bold flex flex-col items-start justify-start gap-3 text-justify text-xl leading-snug;

          span {
            @apply text-primary text-lg;
          }

          .d1 {
            @img: './img/d1.png';
            @apply relative w-full;

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }

          .d2 {
            @img: './img/d2.png';
            @apply relative w-full;

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }

          .d3 {
            @img: './img/d3.png';
            @apply relative w-full;

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }

          .arrow {
            width: 20%;

            @img: '../img/arrow.svg';
            @apply relative bg-black px-8 py-3;

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply inline-block w-full rotate-180 bg-contain bg-center bg-no-repeat;
            }
          }
        }
      }

      .header {
        @apply font-line-bold relative w-full text-center text-3xl tracking-widest md:text-3xl;

        .back {
          @img: '../img/back.svg';
          @apply absolute top-0 left-0 w-10;

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
            content: '';

            @apply inline-block w-full bg-contain bg-center bg-no-repeat;
          }
        }
      }
    }
  }
}
