@import url('@/settings/global.css');

.burger {
  @apply border-primary relative flex h-16 w-16 cursor-pointer flex-col justify-center border-4 px-2 duration-200;

  & > div {
    margin: 4px 0;
    height: 4px;
    @apply bg-quaternary w-full rounded-l-full rounded-r-full duration-200;
  }

  &:hover {
    & > div {
      @apply bg-quaternary;
    }

    & > div:nth-child(2) {
      @apply w-full;
    }
  }
}

.burger-revert {
  @apply border-quaternary;
  & > div {
    @apply bg-quaternary;
  }

  & > div:nth-child(2) {
    @apply w-0;
  }

  & > div:nth-child(1) {
    transform: translateY(12px) rotate(45deg + 180deg);
  }

  & > div:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg - 180deg);
  }

  &:hover {
    & > div {
      @apply bg-quaternary;
    }

    & > div:nth-child(2) {
      @apply w-0;
    }

    & > div:nth-child(1) {
      transform: translateY(12px) rotate(-45deg - 180deg) scale(1, 1);
    }

    & > div:nth-child(3) {
      transform: translateY(-12px) rotate(45deg + 180deg) scale(1, 1);
    }
  }
}
