@import url('@/settings/global.css');

.Blockquote {
  @apply h-auto w-full;

  .btn-next {
    @img: './img/btn-next.svg';
    gap: 5%;
    padding-inline: 12%;
    padding-block: 5%;

    @apply flex w-full flex-row items-center justify-center;

    & > div {
      width: 16%;

      @img: './img/arrow.svg';

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        content: '';

        @apply inline-block w-full bg-contain bg-center bg-no-repeat;
      }
      @apply flex h-full items-center justify-center;
    }

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply pointer-events-none inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  blockquote {
    padding: 5%;

    gap: 1%;
    @apply flex w-full flex-col items-center justify-center border-2 border-black bg-amber-400;

    & > div {
      @apply font-line-bold flex flex-row items-center justify-center text-xl md:text-3xl;

      & > span {
        @apply text-primary font-line-extraBold pr-1 text-3xl md:text-5xl;
      }
    }
  }

  .btn-invite {
    width: 55%;

    @img: './img/btn-invite.svg';
    @apply absolute;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .btn-again {
    width: 55%;

    @img: './img/btn-again.svg';
    @apply absolute;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }
}
