@import url('@/settings/global.css');

.Ranking {
  @apply absolute h-full w-full overflow-hidden;

  & > .bg {
    @apply absolute h-full w-full bg-white;
  }

  & > .ctx {
    padding-top: 3%;

    padding-inline: 3%;

    @apply relative flex h-full w-full justify-center;

    .content {
      gap: 1%;
      @apply relative flex h-full w-full max-w-xl flex-col items-center justify-start;
    }
  }

  .header {
    @apply font-line-bold relative w-full text-center text-3xl tracking-widest md:text-3xl;

    .back {
      @img: './img/back.svg';
      @apply absolute top-0 left-0 w-10;

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        content: '';

        @apply inline-block w-full bg-contain bg-center bg-no-repeat;
      }
    }
  }
}
