@import url('@/settings/global.css');

.TaikoIntro {
  @apply relative flex h-full w-full items-center justify-center;

  .icon-preloader {
    & > div {
      @apply opacity-0;
    }
    & > div:nth-child(1) {
      background-image: url('./img/yigi.svg');
    }
    & > div:nth-child(2) {
      background-image: url('./img/hao.svg');
    }
    & > div:nth-child(3) {
      background-image: url('./img/chi.svg');
    }
  }

  .btn-start {
    width: 55%;

    @img: './img/btn.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .content {
    @img: './img/content.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }

    @apply w-full;
  }

  .description {
    @apply w-full px-14 text-xl font-bold md:text-xl;
  }

  .heading {
    width: 100%;

    @img: './img/heading.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
    @apply bg-black px-6 pt-3 pb-2;
  }
}
