@import url('@/settings/global.css');

.Note {
  @apply pointer-events-none absolute top-0 left-1/2 -ml-10 flex h-20 w-20 items-center justify-center;

  .s0 {
    background-image: url('./img/yigi.svg');
    background-size: 60%;
  }

  .s1 {
    background-image: url('./img/hao.svg');
    background-size: 60%;
  }

  .s2 {
    background-image: url('./img/chi.svg');
    background-size: 60%;
  }

  .symbols {
    @apply bg-primary relative h-9/12 w-9/12 rounded-full border-2 border-white;
    @apply bg-center bg-no-repeat;
  }
}
