@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Container {
  min-height: 900px;

  @apply relative w-full min-w-xl overflow-hidden;

  @media only screen and (max-width: 576px) {
    & {
      min-height: 1050px;
    }
  }

  .container-extra {
    @apply w-full;
  }

  .container-logo {
    width: (unit(image-width(@img))) / 1280 * 100%;

    @img: './img/logo.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply pointer-events-none inline-block w-full bg-contain bg-center bg-no-repeat;
    }

    @apply w-4/12;
  }

  .container-options {
    @apply flex h-full flex-1 justify-end;
  }

  .container-texture {
    @bgSize: 720px;
    @ratio: 94/562;

    @apply relative;

    &::before {
      background-image: url('./img/texture.svg');
      background-position: center top;
      background-size: 1710px;
      background-repeat: repeat-x;
      content: '';
      @apply absolute top-0 h-full w-full;
    }

    .body {
      background-image: url('./img/white-grid.png');
      background-position: calc(~'50% + 14.3px') bottom;
      background-size: @bgSize / 24;
      @apply relative flex-1 overflow-hidden;
    }

    .footer {
      height: @ratio * @bgSize;
      background-image: url('./img/red-grid.png');
      background-position: center bottom;
      background-size: @bgSize;
      background-repeat: repeat-x;
      @apply relative flex w-full items-end justify-center;

      .footer-logo {
        margin-bottom: 0%;
        width: 20%;

        @img: './img/footer-logo.svg';
        @apply relative;

        &::before {
          padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
          background-image: url(@img);
          content: '';

          @apply inline-block w-full bg-contain bg-center bg-no-repeat;
        }

        @media only screen and (max-width: @SM) {
          & {
            margin-bottom: 0%;
            width: 30%;
          }
        }
      }
    }

    @media only screen and (max-width: @SM) {
      & {
        @bgSize: 620px;
        &::before {
          background-size: 1510px;
        }
        .body {
          background-size: @bgSize / 24;
        }
        .footer {
          height: @ratio * @bgSize;
          background-size: @bgSize;
        }
      }
    }
  }

  .container-dialog {
    height: calc(~'100% - 166.5px - 48px');
  }
}
