@import url('@/settings/global.css');

.TonesIntro {
  @apply relative flex h-full w-full items-center justify-center;

  .btn-start {
    width: 55%;

    @img: './img/btn.svg';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
  }

  .content {
    width: (unit(image-width(@img))) / 520 * 100%;

    @img: './img/content.svg';
    @apply relative;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }

    & > div {
      @apply absolute top-0 left-0 w-1/5;

      &::before {
        padding-bottom: 73%;
        content: '';
        transform: translateX(-25%) translateY(-27%);
        @apply border-primary inline-block w-full border-8;
      }
    }
  }

  .description {
    @img: './img/description.svg';

    @apply w-full px-14 text-xl font-bold md:text-xl;
  }

  .heading {
    @img: './img/heading.svg';
    @apply w-full;

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);
      content: '';

      @apply inline-block w-full bg-contain bg-center bg-no-repeat;
    }
    @apply bg-black px-6 pt-3 pb-2;
  }

  .preloader {
    & > div {
      @apply invisible;
    }
    & > div:nth-child(1) {
      background-image: url('../../../components/literal/img/s0.svg');
    }
    & > div:nth-child(2) {
      background-image: url('../../../components/literal/img/s1.svg');
    }
    & > div:nth-child(3) {
      background-image: url('../../../components/literal/img/s2.svg');
    }
    & > div:nth-child(4) {
      background-image: url('../../../components/literal/img/s3.svg');
    }
    & > div:nth-child(5) {
      background-image: url('../../../components/literal/img/s4.svg');
    }
  }
}
