@font-face {
  font-family: 'line';
  src:
    url('subset-LINESeedTW_OTF_Bd.woff2') format('woff2'),
    url('subset-LINESeedTW_OTF_Bd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
