@import url('@/settings/global.css');

.HeadingH1 {
  top: 8.6%;
  left: -1.1%;

  @apply absolute w-full;

  & > div {
    @apply relative w-1/2;

    & > div {
      @img: './img/flag.svg';
      @apply w-full;

      &::before {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);
        content: '';

        @apply inline-block w-full bg-contain bg-center bg-no-repeat;
      }

      & > div {
        padding: 5%;
        height: 82%;
        @apply absolute top-0 left-0 w-full;
      }
    }
  }
}

.HeadingH2 {
  @apply relative flex w-full justify-center;

  & > div {
    @apply w-1/2;
  }
}
