@import url('@/settings/global.css');
.EndResult {
  @apply flex h-full w-full items-center justify-center pt-8;

  .frame {
    background-image: url('./img/frame.svg');
    background-size: 100%;
    @apply relative h-full bg-center bg-no-repeat;

    .flag {
      top: -1.5%;
      left: 50%;
      margin-left: -81%/2;
      width: 81%;

      @img: './img/heading-bg.svg';
      @apply absolute;

      & > div {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        background-image: url(@img);

        @apply relative w-full bg-contain bg-center bg-no-repeat;

        & > div {
          @apply absolute top-0 right-0 bottom-0 left-0;
        }
      }
    }
  }
}
