@import url('@/settings/global.css');

.Examiner {
  @apply h-full w-full;

  & > div {
    padding: 4%;
    .font-preloader {
      @apply font-line-regular fixed;

      &::before {
        content: '';
        @apply font-line-bold;
      }

      &::after {
        content: '';
        @apply font-line-extraBold;
      }
    }

    .frame {
      margin-top: -10%;
      @apply relative z-20;

      & > div {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
        width: 100%;
        background-image: url(@img);
        background-size: cover;

        @img: './img/frame.svg';

        & > div {
          padding-top: 13%;
          padding-bottom: 5%;

          padding-inline: 6%;
          @apply absolute top-0 right-0 bottom-0 left-0;

          .btn-next {
            @img: './img/btn-next.svg';
            gap: 5%;
            padding-inline: 12%;
            padding-block: 5%;

            @apply flex w-full flex-row items-center justify-center;

            & > div {
              width: 16%;

              @img: './img/arrow.svg';

              &::before {
                padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
                background-image: url(@img);
                content: '';

                @apply inline-block w-full bg-contain bg-center bg-no-repeat;
              }
              @apply flex h-full items-center justify-center;
            }

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply pointer-events-none inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }

          .subtitle {
            width: 100%;

            @apply font-line-bold flex flex-row flex-wrap text-xl leading-snug;
          }
        }
      }
    }

    .video {
      width: 100%;

      @img: './img/mask.svg';
      @apply relative z-10 w-full;

      & > div {
        padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);

        @apply relative w-full;

        & > div {
          mask-image: url(@img);
          mask-size: 100%;
          mask-repeat: no-repeat;

          @apply bg-primary absolute top-0 right-0 bottom-0 left-0;

          .cover {
            background-image: url('./img/video-cover.jpg');
            @apply flex h-full w-full items-center justify-center bg-cover bg-center;

            .video-player {
              @apply h-full w-full;
            }

            .play-button {
              width: 25%;

              @img: './img/play-button.svg';
              @apply absolute cursor-pointer;

              &:hover {
                & {
                  transform: scale(1.05);
                }
              }

              &::before {
                padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
                background-image: url(@img);
                content: '';

                @apply inline-block w-full bg-contain bg-center bg-no-repeat;
              }
            }
          }
        }
      }
    }
  }
}
