@import url('@/settings/global.css');

.Final {
  padding: 3%;
  padding-top: 20%;
  @apply relative h-full w-full;

  & > div {
    padding: 4%;
    @apply flex h-full flex-col items-center justify-between;

    & > div {
      @apply w-full;
    }

    & > div:nth-child(2) {
      gap: 4%;

      @apply flex flex-col items-start justify-center;

      & > div:not(:last-child) {
        @apply md:text-xl;
      }

      .btn-ranking {
        width: 55%;

        @img: './img/btn-ranking.svg';
        @apply relative;

        &::before {
          padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
          background-image: url(@img);
          content: '';

          @apply inline-block w-full bg-contain bg-center bg-no-repeat;
        }
      }

      .btn-again {
        width: 55%;

        @img: './img/btn-again.svg';
        @apply relative;

        &::before {
          padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
          background-image: url(@img);
          content: '';

          @apply inline-block w-full bg-contain bg-center bg-no-repeat;
        }
      }
    }

    & > div:nth-child(1) {
      gap: 5%;
      @apply font-line-bold flex flex-col items-start justify-start text-xl md:text-3xl;

      & > div:last-child {
        margin-top: 8%;
      }

      & > div {
        @apply relative flex w-full flex-row items-center justify-start;
        & > span {
          line-height: 0;
          @apply text-primary font-line-extraBold text-4xl md:text-6xl;
        }

        .join {
          @apply relative flex flex-row items-center justify-start;

          & > input {
            padding: 4%;
            width: 75%;
            @apply bg-tertiary font-line-regular text-xl md:text-2xl;
          }

          & > button {
            @apply w-auto bg-black p-3 font-thin whitespace-nowrap text-white;
          }
        }

        & > a {
          @apply text-blue-500 underline underline-offset-2;
        }
      }
    }
  }
}
