@import url('@/settings/global.css');
.Card {
  padding: 2%;
  @apply absolute flex h-full w-full flex-col items-center justify-between;

  .box {
    margin-top: 2%;

    padding-inline: 2%;
    @apply w-full;

    .card-buttons {
      margin-top: 3.5%;

      padding-inline: 5%;

      @apply flex w-full flex-row justify-center gap-3;
      & > div {
        @apply w-1/2;

        .share-btn {
          width: 55%;

          @img: './img/share.svg';
          @apply relative;

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
            content: '';

            @apply inline-block w-full bg-contain bg-center bg-no-repeat;
          }
        }

        .award-btn {
          width: 55%;

          @img: './img/award.svg';
          @apply relative;

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
            content: '';

            @apply inline-block w-full bg-contain bg-center bg-no-repeat;
          }
        }
      }
    }

    & > div:nth-child(1) {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);

      @img: './img/border.svg';

      @apply relative w-full bg-contain;

      & > div {
        @apply absolute top-0 right-0 bottom-0 left-0;

        & > div {
          padding-inline: 8%;
          padding-block: 6%;
          @apply relative flex h-full w-full flex-col items-center justify-start;

          .logo {
            margin-top: 14%;
            width: 57%;

            @img: './img/logo.svg';

            @media only screen and (max-width: 768px) {
              & {
                margin-top: 15%;
              }
            }

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
              content: '';

              @apply inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }

          .gold {
            background-image: url('./img/gold.png');
          }

          .silver {
            background-image: url('./img/silver.png');
          }

          .bronze {
            background-image: url('./img/bronze.png');
          }

          .iron {
            background-image: url('./img/iron.png');
          }

          .wood {
            background-image: url('./img/wood.png');
          }

          .medals {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);

            @img: './img/gold.png';

            @apply w-full bg-contain bg-no-repeat;
          }

          .box-content {
            margin-top: -4%;
            padding-left: 2%;
            @apply relative flex w-full flex-col items-start justify-center;

            & > div {
              @apply flex flex-row items-center justify-start text-2xl leading-relaxed font-black tracking-widest text-white md:text-2xl;

              & > span {
                @apply text-primary font-line-extraBold text-3xl font-black tracking-widest md:text-3xl;
              }
            }
          }

          .award-content {
            margin-top: 4%;
            padding-left: 2%;

            @apply text-tertiary flex w-full flex-col items-start justify-center text-justify text-lg leading-relaxed font-bold tracking-widest md:text-lg;

            .dash-line {
              @apply border-tertiary w-full border-t-2 border-dashed;
            }

            & > .dash-line:nth-child(1) {
              margin-bottom: 5%;
            }

            & > .dash-line:last-child {
              margin-top: 5%;
            }

            & > div {
              span {
                @apply text-primary font-line-extraBold text-2xl font-black md:text-2xl;
              }
            }
          }
        }
      }
    }
  }

  .note {
    margin-bottom: 5.5%;

    gap: 2%;

    @media only screen and (max-width: 768px) {
      & {
        margin-bottom: 5.5%;
      }
    }
    @apply font-line-bold flex w-full flex-col items-center justify-center text-center text-base tracking-widest text-white select-none md:text-base;

    & > span {
      @apply font-line-extraBold text-3xl md:text-3xl;
    }
  }
}
