@import url('@/settings/global.css');
.Card {
  padding: 2%;
  @apply absolute flex h-full w-full flex-col items-center justify-between;

  .box {
    margin-top: 2%;

    padding-inline: 2%;
    @apply relative w-full;

    .card-buttons {
      margin-top: 3.5%;

      padding-inline: 5%;

      @apply flex w-full flex-row justify-center gap-3;
      & > div {
        @apply w-1/2;

        .share-btn {
          width: 55%;

          @img: './img/share.svg';
          @apply relative;

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
            content: '';

            @apply inline-block w-full bg-contain bg-center bg-no-repeat;
          }
        }

        .award-btn {
          width: 70%;

          @img: './img/award.svg';
          @apply relative;

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
            content: '';

            @apply inline-block w-full bg-contain bg-center bg-no-repeat;
          }
        }
      }
    }

    & > div:nth-child(1) {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: url(@img);

      @img: './img/border.svg';

      @apply relative w-full bg-contain;

      & > div {
        padding: 3%;
        @apply absolute top-0 right-0 bottom-0 left-0 flex flex-col items-center justify-between;

        .box-inner {
          min-height: 78%;
          @apply relative h-fit w-full overflow-hidden;

          & > div {
            padding: 4%;
            @apply relative z-10 h-full w-full;

            .gold {
              background-image: url('./img/gold.png');
            }

            .silver {
              background-image: url('./img/silver.png');
            }

            .bronze {
              background-image: url('./img/bronze.png');
            }

            .iron {
              background-image: url('./img/iron.png');
            }

            .wood {
              background-image: url('./img/wood.png');
            }

            .medals {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);

              @img: './img/gold.png';

              @apply w-full bg-contain bg-no-repeat;
            }
          }

          .box-content {
            margin-top: -4%;

            padding-inline: 5%;
            @apply relative flex w-full flex-col items-start justify-center;

            & > div:nth-child(1) {
              @apply text-2xl;
            }

            & > div:not(:nth-child(1)) {
              @apply text-3xl;
            }

            & > div {
              @apply flex flex-row items-center justify-start leading-relaxed font-black tracking-widest text-white;

              & > span {
                @apply text-primary font-line-extraBold text-3xl font-black tracking-widest md:text-4xl;
              }
            }
          }

          .step-gold {
            @img: './img/step-gold.svg';

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
            }
          }

          .step-silver {
            @img: './img/step-silver.svg';
            @apply py-3;

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
            }
          }

          .step-bronze {
            @img: './img/step-bronze.svg';

            @apply pt-3;

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
            }
          }

          .step-iron {
            @img: './img/step-iron.svg';
            @apply py-1;

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
            }
          }

          .step-wood {
            @img: './img/step-wood.svg';
            @apply py-1;

            &::before {
              padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
              background-image: url(@img);
            }
          }

          .step {
            padding-inline: 5%;
            @apply w-full;

            &::before {
              content: '';
              @apply inline-block w-full bg-contain bg-center bg-no-repeat;
            }
          }

          &::before {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
            content: '';

            @img: './img/box-inner-top.svg';
            @apply absolute top-0 w-full;

            @apply inline-block w-full bg-contain bg-center bg-no-repeat;
          }

          &::after {
            padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
            background-image: url(@img);
            content: '';

            @img: './img/box-inner-bottom.svg';
            @apply absolute bottom-0 w-full;

            @apply inline-block w-full bg-contain bg-center bg-no-repeat;
          }
        }

        .box-below {
          padding-bottom: 5%;

          @apply font-line-bold w-full text-center text-2xl;
        }
      }
    }
  }

  .note {
    margin-bottom: 5.5%;

    gap: 2%;

    @media only screen and (max-width: 768px) {
      & {
        margin-bottom: 5.5%;
      }
    }
    @apply font-line-bold flex w-full flex-col items-center justify-center text-center text-base tracking-widest text-white select-none md:text-base;

    & > span {
      @apply font-line-extraBold text-3xl md:text-3xl;
    }
  }
}
