@import url('../../tailwind.config.css');

@font-face {
  font-family: 'line-extraBold';
  src:
    url('subset-LINESeedTW_OTF_Eb.woff2') format('woff2'),
    url('subset-LINESeedTW_OTF_Eb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'line-regular';
  src:
    url('subset-LINESeedTW_OTF_Rg.woff2') format('woff2'),
    url('subset-LINESeedTW_OTF_Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'line-bold';
  src:
    url('subset-LINESeedTW_OTF_Bd.woff2') format('woff2'),
    url('subset-LINESeedTW_OTF_Bd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;

  text-size-adjust: none;
  overscroll-behavior: none;

  font-family:
    'Noto Sans TC', 'Microsoft JhengHei', 'PingFang TC', 'Helvetica Neue', Arial, sans-serif;

  @apply bg-backgroundColor text-textColor;
}

.App {
  @apply absolute h-full w-full;
}
