@import url('../../tailwind.config.css');

@font-face {
  font-family: 'line-extraBold';
  src:
    url('@/settings/LINESeedTW_TTF-ExtraBold.woff2') format('woff2'),
    url('@/settings/LINESeedTW_TTF-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'line-regular';
  src:
    url('@/settings/LINESeedTW_TTF-Regular.woff2') format('woff2'),
    url('@/settings/LINESeedTW_TTF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'line-bold';
  src:
    url('@/settings/LINESeedTW_TTF-Bold.woff2') format('woff2'),
    url('@/settings/LINESeedTW_TTF-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  text-size-adjust: none;
  overscroll-behavior: none;

  font-family:
    'Noto Sans TC', 'Microsoft JhengHei', 'PingFang TC', 'Helvetica Neue', Arial, sans-serif;

  touch-action: pan-x pan-y;

  @apply bg-backgroundColor text-textColor m-0;
}

.App {
  @apply absolute h-full w-full;
}
