@import url('@/settings/global.css');

@size: 34px;

.Literal {
  @apply flex w-full flex-row flex-wrap items-start justify-start gap-0 text-3xl font-black text-black;

  & > div {
    width: @size;
    height: @size * 2;

    @apply mb-8 flex flex-col gap-2;

    .letter {
      height: @size;

      @apply flex w-full flex-col items-center justify-start text-center;
    }

    .tone-5 {
      background-image: url('./img/s0.svg');
      background-size: 50%;
    }

    .tone-1 {
      background-image: url('./img/s1.svg');
      background-size: 50%;
    }

    .tone-2 {
      background-image: url('./img/s2.svg');
      background-size: 50%;
    }

    .tone-3 {
      background-image: url('./img/s3.svg');
      background-size: 50%;
    }

    .tone-4 {
      background-image: url('./img/s4.svg');
      background-size: 50%;
    }

    .tone-incorrect {
      @apply bg-primary;
    }

    .tone {
      padding-bottom: 95%;
      font: 'line' !important;
      font-family: 'line' !important;
      @apply border-primary relative flex w-full flex-1 items-center justify-center border bg-center bg-no-repeat;
    }

    select {
      padding-right: 30px;
      background-image: none;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    select::-ms-expand {
      display: none;
    }
  }
}
